/*.egg-info
.cache/
dist/
.idea
__pycache__
algoengine.iml
rqrobot.system.log
*.bcolz
*.pk
*.h5
.vscode
*.c
*.so
*.pyc
build/
bundle/
bundle
persist/
.coverage
.tox
rqrobot_test_coverage_report/
.tmp.pkl
